@import "@daesite/styles/scss/lib";

.fullscreen {
  position: relative;
  min-height: 100vh;
  width: 100%;

  &_body {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 rem(40);
    max-width: rem(1280);
  }
}

.background {
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  & img {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 100%;
    z-index: -1;
    filter: blur(20px);
  }
}
