@use "sass:map";

$dummy-map: ();

@each $name,
  $size
    in (
      2xs: 9,
      xs: 10,
      sm: 12,
      rg: $base-font-size,
      lg: 16,
      xl: 18,
      2xl: 20,
      3xl: 22,
      4xl: 24
    )
{
  $dummy-map: map.merge(
    $dummy-map,
    (
      text-#{$name}:
        (
          font-size: #{em($size)},
        )
    )
  );
}

@include responsive-classes($dummy-map);

@include responsive-classes(
  (
    text-left: (
      text-align: start,
    ),

    text-center: (
      text-align: center,
    ),

    text-right: (
      text-align: end,
    ),
  )
);
